body{
    background-color: #940000 !important;
    background-image: url("images/grilled-noise.png");
}
.add-movie-wrap{
    background: white;
    border-radius: 5px;
    padding: 15px;
}

.jumbotron{
    background: url("images/background2.jpg") center / cover no-repeat;
}

.post-movie-modal-btn{
    margin-bottom: 32px;
}

.individualMovies{
    margin-bottom: 5%;
}
